In [1]:
! pip install msgpack --user

Requirement already satisfied: msgpack in d:\darshan\anaconda\lib\site-packages (1.0.2)

In [2]:
#Import Modules
! pip install newsapi-python

Collecting newsapi-python
  Downloading newsapi_python-0.2.7-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: requests<3.0.0 in d:\darshan\anaconda\lib\site-packages (from newsapi-python) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\darshan\anaconda\lib\site-packages (from requests<3.0.0->newsapi-python) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\darshan\anaconda\lib\site-packages (from requests<3.0.0->newsapi-python) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\darshan\anaconda\lib\site-packages (from requests<3.0.0->newsapi-python) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in d:\darshan\anaconda\lib\site-packages (from requests<3.0.0->newsapi-python) (2021.10.8)
Installing collected packages: newsapi-python
Successfully installed newsapi-python-0.2.7

In [3]:
from newsapi import NewsApiClient
import random

In [4]:
from datetime import datetime, timedelta

In [5]:
prev_date = datetime.today() - timedelta(days=30)
prev_date

datetime.datetime(2023, 3, 2, 14, 3, 58, 397180)

In [6]:
next_date = datetime.today() - timedelta(days=0)
next_date

datetime.datetime(2023, 4, 1, 14, 4, 8, 160973)

In [20]:
p_date = str(prev_date.year)+'-'+'0'+str(prev_date.month)+'-'+'0'+str(prev_date.day)
p_date

'2023-03-04'

In [21]:
c_date = str(next_date.year)+'-'+'0'+str(next_date.month)+'-'+'0'+str(next_date.day)
c_date

'2023-04-01'

In [22]:
# Task - 2: 
# API - 4f39ff5110f94aa193589888293ea341
#from datetime import datetime, timedelta
prev_date = datetime.today() - timedelta(days=28)
next_date = datetime.today() - timedelta(days=0)
p_date = str(prev_date.year)+'-'+'0'+str(prev_date.month)+'-'+'0'+str(prev_date.day)
c_date = str(next_date.year)+'-'+'0'+str(next_date.month)+'-'+'0'+str(next_date.day)

# Task 2: Create a Get News Method
newsapi = NewsApiClient(api_key='4f39ff5110f94aa193589888293ea341')
def getNews(sourceId):
    newses = newsapi.get_everything(sources=sourceId,
                                    domains='ndtv.com, techcrunch.com',
                                    from_param=p_date,
                                    to=c_date,
                                    language='en',
                                    sort_by='relevancy',
                                    page=2)
    newsData = []
    for news in newses['articles']:
        list = [random.randint(0, 1000), news['title'],news['content'], 'REAL']
        newsData.append(list)
    return newsData

In [23]:
# Task - 3: Get News Sources
sources = newsapi.get_sources()
sourceList = []
for source in sources['sources']:
    sourceList.append(source['id'])
del sourceList[10:len(sourceList)]
print('News Sources: ', sourceList)

News Sources:  ['abc-news', 'abc-news-au', 'aftenposten', 'al-jazeera-english', 'ansa', 'argaam', 'ars-technica', 'ary-news', 'associated-press', 'australian-financial-review']

In [24]:
# Task 4: Get News using Multiple Sources
dataList = []
for sourceId in sourceList:
    newses = getNews(sourceId)
    dataList = dataList + newses

print('Total News: ', len(dataList))

Total News:  1000

In [25]:
# Task 5: Create a DataFrame of News
import pandas as pd
df = pd.DataFrame.from_records(dataList)
df.columns = ['','title','text','label']
print(df.head())

                                                    title  \
0  929  United Airlines flight makes emergency landing...
1  660  FDA approves over-the-counter Narcan to reduce...
2  932  Evacuation order issued near Minnesota train d...
3  457  13 states on alert for strong winds, heavy sno...
4    3  Willis Reed, leader on Knicks' 2 title teams, ...

                                                text label
0  HOUSTON -- A United Airlines flight bound from...  REAL
1  The U.S. Food and Drug Administration approved...  REAL
2  A train derailed near Raymond, Minnesota, on T...  REAL
3  Thirteen states are on alert for strong winds ...  REAL
4  NEW YORK -- Willis Reed, who dramatically emer...  REAL

In [26]:
# Task 6: Load and Contact the DataFrame
trainData = pd.read_csv("D:/Darshan/news.csv")
trainData.columns = ['','title','text','label']
data = [trainData, df]
df = pd.concat(data)
df.head()

,,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [28]:
# Task 7: Import Scikit Modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier

In [29]:
# Task 8: Split the Training and Testing Data
training_x, testing_x, training_y, testing_y = train_test_split(df['text'], df.label, test_size=0.3, random_state=100)

In [30]:
# Task 9: Feature Selection
count_vectorizer = CountVectorizer(stop_words='english', max_df=0.7) 
feature_train = count_vectorizer.fit_transform(training_x)
feature_test = count_vectorizer.transform(testing_x)

In [32]:
print(feature_train)

  (0, 27717)	1
  (0, 5451)	1
  (0, 48656)	1
  (0, 48770)	1
  (0, 52436)	1
  (0, 26493)	1
  (0, 30809)	1
  (0, 35202)	1
  (0, 31589)	1
  (0, 52197)	1
  (0, 34819)	1
  (0, 32567)	1
  (0, 29654)	1
  (0, 39528)	1
  (0, 49993)	1
  (0, 608)	1
  (0, 10246)	1
  (1, 7075)	1
  (1, 27754)	2
  (1, 19457)	1
  (1, 3811)	2
  (1, 57342)	5
  (1, 49153)	14
  (1, 14866)	10
  (1, 9954)	2
  :	:
  (5133, 53502)	1
  (5133, 18269)	1
  (5133, 19931)	1
  (5133, 39898)	2
  (5133, 55228)	1
  (5133, 44165)	1
  (5133, 28605)	1
  (5133, 15640)	1
  (5133, 24580)	1
  (5133, 46390)	1
  (5133, 29560)	1
  (5133, 4040)	2
  (5133, 50999)	1
  (5133, 49336)	1
  (5133, 5766)	2
  (5133, 48098)	1
  (5133, 25341)	2
  (5133, 16616)	1
  (5133, 7726)	1
  (5133, 28889)	1
  (5133, 45547)	1
  (5133, 21584)	1
  (5133, 53127)	1
  (5133, 39169)	3
  (5133, 50832)	4

In [33]:
print(feature_test)

  (0, 457)	1
  (0, 638)	1
  (0, 8970)	1
  (0, 9624)	1
  (0, 14058)	1
  (0, 14445)	1
  (0, 21244)	1
  (0, 25293)	1
  (0, 29070)	1
  (0, 30201)	1
  (0, 35864)	1
  (0, 40454)	1
  (0, 43887)	1
  (0, 44078)	1
  (0, 51011)	1
  (0, 55997)	1
  (0, 56407)	1
  (1, 2844)	1
  (1, 15910)	1
  (1, 17191)	1
  (1, 29225)	1
  (1, 30948)	1
  (1, 36418)	1
  (1, 36421)	1
  (1, 41424)	1
  :	:
  (2200, 48545)	1
  (2200, 48585)	8
  (2200, 48586)	3
  (2200, 48590)	1
  (2200, 48592)	1
  (2200, 48955)	1
  (2200, 49153)	3
  (2200, 49643)	1
  (2200, 50036)	2
  (2200, 50062)	1
  (2200, 52403)	1
  (2200, 52624)	1
  (2200, 52789)	1
  (2200, 53180)	1
  (2200, 53488)	1
  (2200, 54061)	1
  (2200, 54112)	2
  (2200, 54139)	1
  (2200, 54948)	1
  (2200, 55140)	4
  (2200, 55949)	1
  (2200, 55954)	1
  (2200, 56530)	1
  (2200, 56930)	1
  (2200, 57346)	1

In [35]:
# Task 10: Initialise and Apply the Classifier
classifier = PassiveAggressiveClassifier(max_iter=50)
classifier.fit(feature_train, training_y)

PassiveAggressiveClassifier(max_iter=50)

In [47]:
# Task 11: Test the classifier
prediction = classifier.predict(feature_test)
score = accuracy_score(testing_y, prediction)

print("Accuracy: ", score*100, "%")

Accuracy:  91.68559745570195 %

In [48]:
# Task 12: Load the test data
test_data = pd.read_csv("D:/Darshan/test_data.csv")
test_labels = test_data.label
test_data.head()

,Unnamed: 0,Unnamed: 1,title,text,label
0,914,7014,Trumps Hollywood Walk of Fame star Destroyed w...,Trump's Hollywood Walk of Fame star Destroyed ...,FAKE
1,4058,6440,Corporate Army smashes Dakota barbarians near ...,Corporate Army smashes Dakota barbarians near ...,FAKE
2,4982,6125,German Panzers to Rumble Once More Along Russi...,Citizen journalism with a punch German Panzers...,FAKE
3,800,8389,Contaminated Food from China Now Entering the ...,Contaminated Food from China Now Entering the ...,FAKE
4,4871,976,Cruz likely to block Trump on a second ballot ...,Republican presidential candidate Ted Cruz is ...,REAL

In [49]:
# Task 13: Select Features and Get Predictions
test_data_feature = count_vectorizer.transform(test_data['text'])
prediction = classifier.predict(test_data_feature)

In [50]:
# Task 14: Evaluate the Predictions
for i in range(len(test_labels)):
    print(test_labels[i], prediction[i])
    
score = accuracy_score(test_labels, prediction)
print("Accuracy: ", score*100, "%")

FAKE FAKE
FAKE FAKE
FAKE FAKE
FAKE FAKE
REAL REAL
FAKE FAKE
REAL REAL
FAKE FAKE
FAKE FAKE
FAKE FAKE
FAKE FAKE
REAL REAL
FAKE FAKE
REAL REAL
FAKE FAKE
REAL REAL
REAL REAL
FAKE FAKE
REAL REAL
FAKE FAKE
Accuracy:  100.0 %